<div class="columns is-centered m-4">

  <div class="table-container">
    <table class="table is-bordered " *ngIf="strUserName && oSchedules" #tableToPrint>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']">
            {{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="has-text-centered is-vcentered">Lunch</th>
          <td class="fixed-cell has-text-centered is-vcentered"
            *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']">
            <ng-container *ngFor="let schedule of oSchedules">
              <div *ngIf="schedule.day === day && schedule.type === 'Lunch'">
                <ul class="list-none flex flex-column gap-2 p-0 m-0">
                  <div class="card">
                    <div class="w-15rem">
                      <p-panel header="{{ schedule.recipe.name }}">
                        <img src="{{ schedule.recipe.recipe_image }}" alt="">
                        <a [routerLink]="['/recipe', schedule.recipe.id]" class="card-hover__link to-ignore">
                          <span>Details </span><i class="fa-solid fa-arrow-right"></i>
                        </a>
                      </p-panel>
                    </div>
                  </div>
                </ul>
              </div>
            </ng-container>
          </td>
        </tr>

        <tr>
          <th class="has-text-centered is-vcentered">Dinner</th>
          <td class="fixed-cell has-text-centered is-vcentered"
            *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']">
            <ng-container *ngFor="let schedule of oSchedules">
              <div *ngIf="schedule.day === day && schedule.type === 'Dinner'">
                <ul class="list-none flex flex-column gap-2 p-0 m-0">
                  <div class="card">
                    <div class="w-15rem">
                      <p-panel header="{{ schedule.recipe.name }}">
                        <img src="{{ schedule.recipe.recipe_image }}" alt="">
                        <a [routerLink]="['/recipe', schedule.recipe.id]" class="card-hover__link to-ignore">
                          <span>Details </span><i class="fa-solid fa-arrow-right"></i>
                        </a>
                      </p-panel>
                    </div>
                  </div>
                </ul>
              </div>
            </ng-container>
          </td>
        </tr>

      </tbody>

    </table>
    <div class="has-text-centered" *ngIf="strUserName && oSchedules">
      <button class="nav-link button is-primary m-2 has-background-grey-dark to-ignore" (click)="printTable()">Print
        Weekly</button>
      <button class="nav-link button is-primary m-2 has-background-grey to-ignore" (click)="printRecipes()">Print
        Grocery List</button>
    </div>
  </div>
</div>
<div *ngIf="strUserName" class="columns is-vcentered m-4 is-centered ">
  <p-carousel [value]="oPage?.content ?? []" orientation="vertical">
    <ng-template let-recipe pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3 product-item-content-picture">
            <img
              [src]="recipe.recipe_image ? recipe.recipe_image : 'https://images.unsplash.com/photo-1586511925558-a4c6376fe65f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=60'"
              [alt]="recipe.name" class="" />
          </div>
          <div>
            <h4 class="title">{{ recipe.name }}</h4>
            <h6 class="subtitle">{{ recipe.description }}</h6>
            <a [routerLink]="['/recipe', 'list']" class="btn">
              See more!
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>


<div class="columns is-vcentered m-4" *ngIf="!strUserName">
  <div class="has-background-grey-dark column  m-4 is-8">
    <p class="m-5 has-text-grey-light subtitle">Would you like to have a weekly meal plan but always forget the recipes
      and dislike using
      paper? Are you not creative enough to find varied recipes for the entire week? Do you dislike having to think
      about what to eat today?</p>
    <p class="m-5 has-text-grey-light subtitle">WeekEat is for you!</p>
    <p class="m-5 has-text-grey-light subtitle">Create your weekly plans with your favorite recipes that you'll find in
      the app, both yours and from other users!
    </p>
    <p class="m-5 has-text-grey-light subtitle">Discover an easy and fun way to organize your meals!</p>
  </div>
  <div class="column ">
    <p-carousel [value]="oPage?.content ?? []" orientation="vertical">
      <ng-template let-recipe pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="mb-3 product-item-content-picture">
              <img
                [src]="recipe.recipe_image ? recipe.recipe_image : 'https://images.unsplash.com/photo-1586511925558-a4c6376fe65f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=60'"
                [alt]="recipe.name" class="" />
            </div>
            <div>
              <div>
                <h4 class="title">{{ recipe.name }}</h4>
                <h6 class="subtitle">{{ recipe.description }}</h6>
                <a [routerLink]="['/login']" class="btn">
                  See more!
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>