/* Estilo para el contenido de cada ítem del carrusel */
.product-item-content {
    position: relative; /* Establece la posición relativa para el contenido */
  }
  
  /* Estilo para las imágenes dentro del carrusel */
  .product-item-content img {
    width: 100%; /* Ajusta el ancho de la imagen */
    border-radius: 0.313em; /* Borde redondeado */
    filter: blur(0.125em);
  }
  
  /* Estilo para el texto dentro del contenido del ítem del carrusel */
  .product-item-content h4,
  .product-item-content h6 {
   /* Establece la posición absoluta para el texto */
    bottom: 0.625em; /* Ajusta la posición vertical del texto según sea necesario */
    left: 0.625em; /* Ajusta la posición horizontal del texto según sea necesario */
    color: white; /* Color del texto */
    backdrop-filter: blur(0.313em); /* Aplica el desenfoque solo detrás del texto */
    padding: 0.313em; /* Ajusta el relleno del texto según sea necesario */
  }