<div class="container my-6 custom-container">
  <form class="form-control">
    <div class="field">
      <label class="label has-text-success">Username</label>
      <div class="control">
        <input class="input is-primary" type="text" placeholder="Username123">
      </div>
    </div>
    <div class="field">
      <label class="label has-text-success">Name</label>
      <div class="control">
        <input class="input is-primary" type="text" placeholder="Manolo">
      </div>
    </div>
    <div class="field">
      <label class="label has-text-success">Surname</label>
      <div class="control">
        <input class="input is-primary" type="text" placeholder="Pérez">
      </div>
    </div>
    <div class="field">
      <label class="label has-text-success">Email</label>
      <div class="control">
        <input class="input is-primary" type="text" placeholder="manolillo@mail.es">
      </div>
    </div>
    <div class="field">
      <label class="label has-text-success">Phone</label>
      <div class="control">
        <input class="input is-primary" type="text" placeholder="652143695">
      </div>
    </div>
    <div class="field">
      <label class="label has-text-success">Password</label>
      <div class="control">
        <input class="input is-primary" type="password" placeholder="Your password">
      </div>
    </div>
    
    <div class="control has-text-centered">
      <button class="button is-primary submit-btn">Registrer</button>
    </div>
  </form>
</div>
