
  .custom-container {
    display: flex;
    justify-content: center;
  }
  
  .form-control {
    box-shadow: 0 0.938em 1.563em hsla(141, 56%, 40%, 0.452);
    padding: 1.563em;
  }
  
  .input {
    height: 2.813em;
    border: 0.094em solid #ecedec;
  }
  
  .submit-btn {
    margin-top: 0.938em;
    height: 3.438em;
    border-radius: 0.688em;
    font-size: 1.125em;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  