<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>
<div *ngIf="status == null">
  <div class="column  container is-three-quarters card has-background-light">
    <div class="columns is-centered my-3">
      <form *ngIf="typeForm" [formGroup]="typeForm" (ngSubmit)="onSubmit()" class="column is-half">

        <div class="field" *ngIf="operation=='EDIT'">
          <label class="label">Id</label>
          <div class="control">
            <input class="input" formControlName="id" [placeholder]="" readonly>
          </div>
        </div>

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" formControlName="name" [placeholder]="" >
          </div>
          <span class="help is-danger" *ngIf="hasError('name', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('name', 'minlength')">More length is required</span>
          <span class="help is-danger" *ngIf="hasError('name', 'maxlength')">Limit exceed</span>
        </div>

        <div class="field is-grouped is-grouped-centered mt-5">
          <div class="control">
            <button class="button is-danger m-2" [routerLink]="['/admin','type','list']" >
              Cancel
            </button>
            <!--Añadir que mande al tipo al crearlo-->
            <button class="button is-primary m-2" [disabled]="!typeForm.valid" type="submit" >
             Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
