<div class="columns is-multiline is-centered m-4 ">
  <div *ngFor="let weekly of oWeeklyList">
    <div class="m-3">
      <div class="has-background-white p-4">
        <p>Weekly Id: {{ weekly.id }}</p>
        <p>Init date: {{ weekly.init_date }}</p>
        <ng-container>
          <div class="table-container mt-4" *ngIf="oSchedules.length > 0 ">
            <table class="table is-bordered is-centered ">
              <thead>
                <tr>
                  <th></th>
                  <th
                    *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']">
                    {{ day }}</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <th class="has-text-centered is-vcentered">Lunch</th>
                  <td class="fixed-cell has-text-centered is-vcentered"
                    *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']">
                    <ng-container *ngFor="let schedule of oSchedules">
                      <div
                        *ngIf="schedule.day === day && schedule.type === 'Lunch' && schedule.weekly.id === weekly.id">
                        <ul class="list-none flex flex-column gap-2 p-0 m-0">
                          <div class="card">
                            <div class="w-15rem">
                              <p-panel header="{{ schedule.recipe.name }}">
                                <img src="{{ schedule.recipe.recipe_image }}" alt="">
                              </p-panel>
                            </div>
                          </div>
                        </ul>
                      </div>
                    </ng-container>
                  </td>
                </tr>

                <tr>
                  <th class="has-text-centered is-vcentered">Dinner</th>
                  <td class="fixed-cell has-text-centered is-vcentered"
                    *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']">
                    <ng-container *ngFor="let schedule of oSchedules">
                      <div
                        *ngIf="schedule.day === day && schedule.type === 'Dinner' && schedule.weekly.id === weekly.id">
                        <ul class="list-none flex flex-column gap-2 p-0 m-0">
                          <div class="card">
                            <div class="w-15rem">
                              <p-panel header="prueba">
                                <img src="{{ schedule.recipe.recipe_image }}"  alt="">
                              </p-panel>
                            </div>
                          </div>
                        </ul>
                      </div>
                    </ng-container>
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="buttons is-centered">
              <button class="button btn m-2 is-warning" [routerLink]="['/weekly','edit',weekly.id]">Edit</button>
              <button class="button btn m-2 is-danger" (click)="doRemove(weekly)">Delete</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>
<div class="column is-narrow">
  <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
    [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
</div>

<div class="modal" [class.is-active]="showConfirmationModal">
  <div class="modal-background" (click)="cancelRemove()"></div>
  <div class="modal-content">
    <div class="box">
      <p>Are you sure you want to remove this weekly?</p>
      <div class="buttons">
        <button class="button is-danger" (click)="confirmRemove()">Yes</button>
        <button class="button" (click)="cancelRemove()">No</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="cancelRemove()"></button>
</div>