<div class="column is-narrow">
 <!-- <input class="input" type="text" [(ngModel)]="filterValue" (keyup)="search()" id="name" placeholder="Search" /> -->
 
<div class="columns is-multiline">

<div class="column mt-4" *ngFor="let t of oPage?.content">
  <div class="card-hover m-3">
    <div class="card-hover__content">
      <h3 class="card-hover__title">
        {{ t.recipe.name }}
      </h3>
      <a [routerLink]="['/recipe', t.recipe.id]" class="card-hover__link">
        <span>Details:</span>
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
        </svg>
      </a>
    </div>
    <div class="card-hover__extra">
      <h4>Learn how to cook it!</h4>
    </div>
    <img
      [src]="t.recipe.recipe_image ? getRecipeImageUrl(t.recipe.recipe_image) : 'https://images.unsplash.com/photo-1586511925558-a4c6376fe65f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=60'"
      alt="t.recipe.recipe_image ? t.recipe.name : 'Generic recipe image'">
  </div>
</div>

</div>  
<div class="column is-narrow">
  <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
    [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
</div>
