<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <div class="column is-12">
    <div class="columns is-centered my-3">
      <form *ngIf="ingredientForm" [formGroup]="ingredientForm" (ngSubmit)="onSubmit()" class="column is-half">

        <div class="field" *ngIf="operation=='EDIT'">
          <label class="label">Id</label>
          <div class="control">
            <input class="input" formControlName="id" [placeholder]="" readonly>
          </div>
        </div>

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" formControlName="name" [placeholder]="" >
          </div>
          <p class="help is-danger" *ngIf="hasError('name', 'required')">Required</p>
        </div>

        <div class="field">
          <label class="label">Type</label>
          <div class="control">
            <input class="input" formControlName="id_type" [placeholder]="" >
          </div>
          <p class="help is-danger" *ngIf="hasError('id_type', 'required')">Required</p>
        </div>
     
        <div class="field is-grouped is-grouped-centered mt-5">
          <div class="control">
            <button class="button is-primary" type="submit" >
             Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
