<div class="columns is-centered my-3">
  <div class="column is-half">
    <div *ngIf="status !== null" class="card">
      <div class="card-content">
        <div class="content">
          <p class="notification is-danger">
            {{ status!.error.message }} - {{ status!.message }}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="status == null" class="card">
      <div class="card-content">
        <div class="content">
          <table class="table is-striped is-hoverable is-fullwidth">
            <tbody>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
      <tr>
        <th>id</th>
        <td>{{ oRecipe.id }}</td>
      </tr>
      <tr>
        <th>name</th>
        <td>{{ oRecipe.name }}</td>
      </tr>
      <tr>
        <th>description</th>
        <td>{{ oRecipe.description }}</td>
      </tr>
      <tr>
        <th>process</th>
        <td>{{ oRecipe.process }}</td>
      </tr>
     <!-- <tr>
        <th>ingredients</th>
        <td>
          <ng-container *ngIf="oRecipe.content && oRecipe.content.length > 0; else noIngredients">
            <div *ngFor="let ingredient of oRecipe.content" class="tag is-link">{{ ingredient.id_ingredient.name }}</div>
          </ng-container>
          <ng-template #noIngredients>
            <span class="tag is-light">No ingredients</span>
          </ng-template>
        </td>
      </tr> -->
      <tr>
        <th>author</th>
        <td>{{ oRecipe.id_user!.name }}</td>
      </tr>
    </tbody>

    <button class="button is-warning" *ngIf="strUserName === oRecipe.id_user!.username " [routerLink]="['/recipe','edit',oRecipe.id]">Edit</button>
    <button class="button is-danger" *ngIf="strUserName === oRecipe.id_user!.username " (click)="doRemove(oRecipe)">Delete</button>

  </table>
</div>

<div class="modal" [class.is-active]="showConfirmationModal">
  <div class="modal-background" (click)="cancelRemove()"></div>
  <div class="modal-content">
    <div class="box">
      <p>Are you sure you want to remove this recipe?</p>
      <div class="buttons">
        <button class="button is-danger" (click)="confirmRemove()" routerLink="/recipe/list/own" >Yes</button>
        <button class="button" (click)="cancelRemove()">No</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="cancelRemove()"></button>
</div>