<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>
<div *ngIf="status == null">
  <div class="column container is-three-quarters card has-background-light">
    <div class="columns is-centered my-3">
      <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="column is-half">

        <div class="field" *ngIf="operation=='EDIT'">
          <label class="label">Id</label>
          <div class="control">
            <input class="input" formControlName="id" [placeholder]="" readonly>
          </div>
        </div>

        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" formControlName="username" [placeholder]="">
          </div>
          <span class="help is-danger" *ngIf="hasError('username', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('username', 'minlength')">More length is required</span>
          <span class="help is-danger" *ngIf="hasError('username', 'maxlength')">Limit exceed</span>
        </div>

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" formControlName="name" [placeholder]="">
          </div>
          <span class="help is-danger" *ngIf="hasError('name', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('name', 'minlength')">More length is required</span>
          <span class="help is-danger" *ngIf="hasError('name', 'maxlength')">Limit exceed</span>
        </div>

        <div class="field">
          <label class="label">Surname</label>
          <div class="control">
            <input class="input" formControlName="surname" [placeholder]="">
          </div>
          <span class="help is-danger" *ngIf="hasError('surname', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('surname', 'minlength')">More length is required</span>
          <span class="help is-danger" *ngIf="hasError('surname', 'maxlength')">Limit exceed</span>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" formControlName="email" [placeholder]="">
          </div>
          <span class="help is-danger" *ngIf="hasError('email', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('email', 'email')">Email is not valid</span>
        </div>

        <div class="field">
          <label class="label">Phone</label>
          <div class="control">
            <input class="input" formControlName="phone" [placeholder]="">
          </div>
          <span class="help is-danger" *ngIf="hasError('phone', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('phone', 'pattern')">Characters not accepted</span>
        </div>

        <div class="field">
          <label class="label">Profile Picture</label>
          <div class="control">
            <input class="input" type="file" (change)="onFileSelected($event)" accept="profile_picture/*">
          </div>
        </div>

        <div class="field">
          <label class="label">Role</label>
          <div class="control">
            <label class="radio">
              <input type="radio" formControlName="role" [value]="false">
              Admin
            </label>
            <label class="radio">
              <input type="radio" formControlName="role" [value]="true">
              User
            </label>
          </div>
          <p class="help is-danger" *ngIf="hasError('role', 'required')">Required</p>
        </div>

        <div class="field is-grouped is-grouped-centered mt-5">
          <div class="control">
            <button class="button is-danger m-2" [routerLink]="['/admin','user','list']" >
              Cancel
            </button>
            <!--Añadir que mande al usuario al crearlos-->
            <button class="button is-primary m-2" [disabled]="!userForm.valid" type="submit">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>