

    <div class="content">
      <div class="prueba">
        <div class="wrapper m-6">
          <div class="top-icons">
          </div>

          <div class="profile m-6">
            <img *ngIf="oRecipe.recipe_image === null"
              src="https://images.ecestaticos.com/JN07Vdy4YqEbbl2JtMkUg3lG7Fk=/438x12:2121x1274/1200x899/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Faea%2F9ee%2F335%2Faea9ee33581d1061b7a1c9fea6fa1226.jpg"
              class="thumbnail">
            <!--Poner cuando la imagen no sea null la del propio usuario-->
            <img *ngIf="oRecipe.recipe_image != null" [src]="oRecipe.recipe_image" class="thumbnail">
           
            <h3 class="name">{{oRecipe.name}}</h3>
            <p class="title">{{oRecipe.id_user!.name}}</p>

            <p class="description">{{oRecipe.description}}</p>
            <p class="list">Ingredients:</p>
            <ul class="list">
              <li *ngFor="let ingredient of oIngredients">
                {{ ingredient.name  }}
              </li>
            </ul>
            <p class="description">{{oRecipe.process}}</p>
 
          </div>

        </div>

      </div>
