
        <div class="prueba">
          <div class="wrapper m-6">
            <div class="top-icons">
        
            </div>
            <button class="back-button" [routerLink]="['/admin','ingredient','list']">
              <i class="fas fa-arrow-left"></i> Back
            </button>
            <div class="profile m-6">
              <img *ngIf="oIngredient.ingredient_image === null"
                src="https://images.ecestaticos.com/JN07Vdy4YqEbbl2JtMkUg3lG7Fk=/438x12:2121x1274/1200x899/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Faea%2F9ee%2F335%2Faea9ee33581d1061b7a1c9fea6fa1226.jpg"
                class="thumbnail" alt="Generic image">
              <img *ngIf="oIngredient.ingredient_image != null" [src]="oIngredient.ingredient_image" alt="{{oIngredient.name}}" class="thumbnail">
              <h3 class="name">{{oIngredient.name}} </h3>
        
              <p class="description">ID: {{oIngredient.id}}</p>
              <p class="description">Type: {{oIngredient.id_type?.name}}</p>
        
            </div>
        
            <div class="social-icons mx-2">
              <div class="icon m-4">
                <button type="button" [routerLink]="['/admin','recipe','list','byIngredient',oIngredient.id]"
                  class="boton p-2 my-3">{{ oIngredient.content }}</button>
                <p>Content</p>
              </div>
        
            </div>
          </div>
        
        </div>