<div class="columns is-centered my-3">
  <div class="column is-half">
    <div *ngIf="status !== null" class="card">
      <div class="card-content">
        <div class="content">
          <p class="notification is-danger">
            {{ status!.error.message }} - {{ status!.message }}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="status == null" class="card">
      <div class="card-content">
        <div class="content">
          <table class="table is-striped is-hoverable is-fullwidth">
            <tbody>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
              <tr>
                <th>id</th>
                <td>{{ oIngredient.id }}</td>
              </tr>
              <tr>
                <th>picture</th>
                <td>
                  <img *ngIf="oIngredient.ingredient_image === null"
                    src="https://images.ecestaticos.com/JN07Vdy4YqEbbl2JtMkUg3lG7Fk=/438x12:2121x1274/1200x899/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Faea%2F9ee%2F335%2Faea9ee33581d1061b7a1c9fea6fa1226.jpg"
                    class="thumbnail">
                  <!--Poner cuando la imagen no sea null la del propio usuario-->
                  <img *ngIf="oIngredient.ingredient_image != null" [src]="oIngredient.ingredient_image"
                    class="thumbnail">
                </td>
              </tr>
              <tr>
                <th>name</th>
                <td>{{ oIngredient.name }}</td>
              </tr>
              <tr>
                <th>type</th>
                <td>{{ oIngredient.id_type!.name }}</td>
              </tr>
              <tr>
                <th>content</th>
                <td>
                  <a *ngIf="oIngredient" class="tag is-link" [routerLink]="['/admin','recipe','list','byIngredient',oIngredient.id]">{{ oIngredient.content }}</a>
                  <span *ngIf="!oIngredient" class="tag is-light">0</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>