<div class="container my-6">
  <form class="form-control">
    <div class="field">
      <label class="label has-text-success">Enter Username</label>
      <div class="control">
        <input class="input is-primary" type="text" placeholder="Username123">
      </div>
    </div>
    <div class="field">
      <label class="label has-text-success">Enter Password</label>
      <div class="control">
        <input class="input is-primary" type="password" placeholder="Your password">
      </div>
    </div>
    <a href="#" class="has-text-success">Forgot your password?</a>
    <div class="control has-text-centered">
      <button class="button is-primary submit-btn">Sign In</button>
    </div>
  </form>
</div>
