body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 15px 25px hsla(141, 56%, 40%, 0.452);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
    max-width: 400px; /* Establece un ancho máximo para el contenedor */

}



.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.logout-btn,
.cancel-btn {
    flex: 1;
    height: 55px;
    border-radius: 11px;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}




