<nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item " routerLink="/">
          <img class="pl-4" src="../../../../assets/weekeat-logo.png" style="max-height: 3.5em;"> 
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleNavbar()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{ 'is-active': isNavbarActive }">
        <div class="navbar-start">
            <a class="navbar-item nav-link" routerLink="" href="#" (click)="toggleNavbar()">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable" *ngIf="strUserName && oSessionUser?.role==0">
                <a class="navbar-link">
                    Admin Utilities
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" routerLink="admin/user/list" (click)="toggleNavbar()">
                        Users
                    </a>
                    <a class="navbar-item" routerLink="admin/ingredient/list" (click)="toggleNavbar()">
                        Ingredients
                    </a>
                    <a class="navbar-item" routerLink="admin/type/list" (click)="toggleNavbar()">
                        Types
                    </a>
                    <a class="navbar-item" routerLink="admin/recipe/list" (click)="toggleNavbar()">
                        Recipes
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable" *ngIf="strUserName">
                <a class="navbar-link">
                    Recipes
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" routerLink="/recipe/list" (click)="toggleNavbar()" >
                        All Recipes
                    </a>
                    <a class="navbar-item" routerLink="/recipe/list/own" (click)="toggleNavbar()">
                        Your Recipes
                    </a>
                    <a class="navbar-item" routerLink="/recipe/list/favs" (click)="toggleNavbar()">
                        Favourite Recipes
                    </a>
                    <a class="navbar-item" routerLink="/recipe/new" (click)="toggleNavbar()">
                        Create Recipe
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable" *ngIf="strUserName">
                <a class="navbar-link">
                    Weekly
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" routerLink="/weekly/new" (click)="toggleNavbar()">
                        Create
                    </a>
                    <a class="navbar-item" routerLink="/weekly/list/own" (click)="toggleNavbar()">
                        See All
                    </a>
                </div>
            </div>


        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="navbar-item" routerLink="/user/myprofile" *ngIf="strUserName" (click)="toggleNavbar()">
                    Profile
                </a>
                <div class="buttons">
                    <a class="nav-link button is-light" routerLink="/registrer" href="#" *ngIf="!strUserName">Sing up</a>
                    <a class="nav-link button is-light" routerLink="/login" href="#" *ngIf="!strUserName"
                    [class.active]="strUrl.startsWith('/login')">Login</a>
                    <a class="nav-link button is-light" routerLink="/logout" href="#" *ngIf="strUserName"
                    [class.active]="strUrl.startsWith('/logout')">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>