<nav class="navbar has-background-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/home">
            <img src="https://placehold.co/50" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleNavbar()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{ 'is-active': isNavbarActive }">
        <div class="navbar-start">
            <a class="navbar-item nav-link" routerLink="/home" href="#">
                Home
            </a>

            <a class="navbar-item">
                Best Recipes
            </a>

            <a class="navbar-item">
                Funciona aún hay que editarlo todo
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="nav-link button is-light" routerLink="/registrer" href="#">Sing up</a>
                    <a class="nav-link button is-light" routerLink="/login" href="#">Login</a>
                    <a class="nav-link button is-light" routerLink="/logout" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>