<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>
<div *ngIf="status == null">
  <div class="column  container is-three-quarters card has-background-light">
    <div class="columns is-centered my-3">
      <form *ngIf="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="column is-half">

        <div class="field" *ngIf="operation=='EDIT'">
          <label class="label">Id</label>
          <div class="control">
            <input class="input" formControlName="id" [placeholder]="" readonly>
          </div>
        </div>
      
        <div formGroupName="id_user">
          <div class="field is-grouped">
            <label class="label">User:</label>
            <div class="control is-expanded">
              <input class="input" formControlName="id" placeholder="User" required readonly>
            </div>
            <div class="control">
              <button class="button is-primary" type="button" (click)="onShowUsersSelection()">
                <span>Find a user</span>
              </button>
            </div>
            <p class="help" *ngIf="oRecipe?.id_user?.id">{{ oRecipe.id_user!.id }}</p>
          </div>
        </div>

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" formControlName="name" [placeholder]="" >
          </div>
          <span class="help is-danger" *ngIf="hasError('name', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('name', 'minlength')">More length is required</span>
          <span class="help is-danger" *ngIf="hasError('name', 'maxlength')">Limit exceed</span>
        </div>

        <div class="field">
          <label class="label">Picture</label>
          <div class="control">
          <input class="input" type="file" (change)="onFileSelected($event)" accept="recipe_image/*">
          </div>
        </div>


        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input" formControlName="description" [placeholder]="" >
          </div>
          <span class="help is-danger" *ngIf="hasError('description', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('description', 'minlength')">More length is required</span>
          <span class="help is-danger" *ngIf="hasError('description', 'maxlength')">Limit exceed</span>
        </div>

        <div class="field">
          <label class="label">Process</label>
          <div class="control">
            <textarea class="textarea" formControlName="process" placeholder="" rows="10"></textarea>
          </div>
          <span class="help is-danger" *ngIf="hasError('process', 'required')">Required</span>
          <span class="help is-danger" *ngIf="hasError('process', 'minlength')">More length is required</span>
          <span class="help is-danger" *ngIf="hasError('process', 'maxlength')">Limit exceed</span>
        </div>
        
        <div class="field is-grouped is-grouped-centered mt-5">
          <div class="control">
            <button class="button is-danger m-1" [routerLink]="['/admin','recipe','list']" >
              Cancel
            </button>
            <!--Añadir que mande al tipo al crearlo-->

            <button class="button m-1 is-link" *ngIf="operation=='EDIT'"  [disabled]="!recipeForm.valid" type="button" (click)="edit()">
              Edit
             </button>

            <button class="button m-1 is-primary" [disabled]="!recipeForm.valid" type="submit" >
             Add Ingredients
            </button>
          
            <button class="button m-1 is-warning" type="button" [disabled]="!recipeForm.valid" *ngIf="operation=='EDIT'" (click)="quit()">
              Quit ingredients
            </button>
            
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
