<div class="prueba">
  <div class="wrapper m-6">
    <div class="top-icons">
      <i class="fas fa-long-arrow-alt-left"></i>
      <i class="fas fa-ellipsis-v"></i>
      <i class="far fa-heart"></i>
    </div>

    <div class="profile m-6">
      <img
        src="https://images.ecestaticos.com/JN07Vdy4YqEbbl2JtMkUg3lG7Fk=/438x12:2121x1274/1200x899/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Faea%2F9ee%2F335%2Faea9ee33581d1061b7a1c9fea6fa1226.jpg"
        class="thumbnail">
      <div class="check"><i class="fas fa-check"></i></div>
      <h3 class="name">Name y surname</h3>
      <p class="title">Algo chachi generico</p>
      <p class="description">Datos</p>
      <button type="button" class="btn my-6">Semanario Actual</button>
    </div>

    <div class="social-icons mx-2">
      <div class="icon m-4">
        <a href="/"><i class="fab fa-dribbble"></i></a>
        <h4>Numero</h4>
        <p>Recipes
        </p>
      </div>

      <div class="icon m-4">
        <a href="#"><i class="fab fa-behance"></i></a>
        <h4>Numero</h4>
        <p>Favs</p>
      </div>

      <div class="icon m-4">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <h4>Numero</h4>
        <p>Semanario</p>
      </div>
    </div>
  </div>

</div>