<div class="prueba" *ngIf="oSessionUser | async as oSessionUser" >
  <div class="wrapper m-6">
    <div class="top-icons">
    
    </div>

    <div class="profile m-6">
      <img *ngIf="oSessionUser.profile_picture === null"
        src="https://images.ecestaticos.com/JN07Vdy4YqEbbl2JtMkUg3lG7Fk=/438x12:2121x1274/1200x899/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Faea%2F9ee%2F335%2Faea9ee33581d1061b7a1c9fea6fa1226.jpg"
        class="thumbnail">
        <!--Poner cuando la imagen no sea null la del propio usuario-->
        <img *ngIf="oSessionUser.profile_picture != null"
        [src]="oSessionUser.profile_picture"
        class="thumbnail">
      <h3 class="name">{{oSessionUser.name}} {{oSessionUser.surname}}</h3>
      <p class="title" *ngIf="!oSessionUser.role">Admin</p>
      <p class="title" *ngIf="oSessionUser.role">User</p>
      
      <p class="description">Username: {{oSessionUser.username}}</p>
      <p class="description">Mail: {{oSessionUser.email}}</p>
      <p class="description">Phone: {{oSessionUser.phone}}</p>
      <button type="button" routerLink="/" class="btn p-1 my-6">Semanario Actual</button>
      
    </div>

    <!--Poner que te lleve a su semanario y a ver todas sus recetas y sus favs-->
    <div class="social-icons mx-2">
      <div class="icon m-4">
        <button  type="button" routerLink="/recipe/list/own" class="boton p-2 my-3">{{oSessionUser.recipes}}</button>
        <p>Recipes</p>
      </div>

      <div class="icon m-4">
        <button  type="button" routerLink="/recipe/list/favs" class="boton p-2 my-3">{{oSessionUser.favs}}</button>
        <p>Favs</p>
      </div>

      <div class="icon m-4">
        <button  type="button" routerLink="/weekly/list/own" class="boton p-2 my-3">{{oSessionUser.weeks}}</button>
        <p>Semanario</p>
      </div>
    </div>
  </div>

</div>