<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
      <div class="alert alert-danger" role="alert">
          {{status!.error.message}} - {{status!.message}}
      </div>
  </div>
</div>

<div *ngIf="status==null">
  <table class="table table-striped table-hover">
      <tbody>
          <tr>
              <th>Property</th>
              <th>Value</th>
          </tr>
          <tr>
              <th>id</th>
              <td>{{oUser.id}}</td>
          </tr>
          <tr>
              <th>name</th>
              <td>{{oUser.name}}</td>
          </tr>
          <tr>
              <th>surname</th>
              <td>{{oUser.surname}}</td>
          </tr>
          <tr>
              <th>email</th>
              <td>{{oUser.email}}</td>
          </tr>
          <tr>
              <th>username</th>
              <td>{{oUser.username}}</td>
          </tr>
          <tr>
              <th>phone</th>
              <td>{{oUser.phone}}</td>
          </tr>
          <tr>
              <th>role</th>
              <td>
                  <span *ngIf="oUser.role==0">Admin</span>
                  <span *ngIf="oUser.role==1">User</span>
              </td>
          </tr>
          <tr>
              <th>recipes</th>
              <td>
                 <a *ngIf="oUser.recipes>0">{{oUser.recipes}}</a>
                  <span *ngIf="oUser.recipes==0">0</span>
              </td>
          </tr>
          <tr>
            <th>weekly</th>
            <td>
               <a *ngIf="oUser.weeks>0">{{oUser.weeks}}</a>
                <span *ngIf="oUser.weeks==0">0</span>
            </td>
        </tr>

      </tbody>
  </table>
</div>