<div class="prueba">
  <div class="wrapper m-6">
    <div class="top-icons">

    </div>

    <div class="profile m-6">
      <img *ngIf="oUser.profile_picture === null"
        src="https://images.ecestaticos.com/JN07Vdy4YqEbbl2JtMkUg3lG7Fk=/438x12:2121x1274/1200x899/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Faea%2F9ee%2F335%2Faea9ee33581d1061b7a1c9fea6fa1226.jpg"
        class="thumbnail">
      <img *ngIf="oUser.profile_picture != null" [src]="oUser.profile_picture" class="thumbnail">
      <h3 class="name">{{oUser.name}} {{oUser.surname}}</h3>
      <p class="title" *ngIf="!oUser.role">Admin</p>
      <p class="title" *ngIf="oUser.role">User</p>

      <p class="description">Username: {{oUser.username}}</p>
      <p class="description">Mail: {{oUser.email}}</p>
      <p class="description">Phone: {{oUser.phone}}</p>

    </div>

    <div class="social-icons mx-2">
      <div class="icon m-4">
        <button type="button" [routerLink]="['/admin','recipe','list','own',oUser.id]"
          class="boton p-2 my-3">{{oUser.recipes}}</button>
        <p>Recipes</p>
      </div>

      <div class="icon m-4">
        <p>{{oUser.favs}}</p>
        <p>Favs</p>
      </div>

      <div class="icon m-4">
        <p>{{oUser.weeks}}</p>
        <p>Weeklies</p>
      </div>
    </div>
  </div>

</div>