.day-height{
    height: 12.5em !important;
}

:host ::ng-deep .drag-column {
    padding-right: 0.5em;
}
:host ::ng-deep .drop-column {
    border: 0.063em solid transparent;
    transition: border-color 0.2s;
}
:host ::ng-deep .drop-column.p-draggable-enter {
    border-color: var(--primary-color);
}
:host ::ng-deep .product-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 0.063em solid var(--surface-d);
}
:host ::ng-deep .product-item img {
    width: 4.688em;
    box-shadow: 0 0.188em 0.375em rgba(0, 0, 0, 0.16), 0 0.188em 0.375em rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
}
:host ::ng-deep .product-item .product-list-detail {
    flex: 1 1 0;
}
:host ::ng-deep .product-item .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}
:host ::ng-deep [pDraggable] {
    cursor: move;
}

:host ::ng-deep .drop-column {
    border: 0.063em solid transparent;
    transition: border-color 0.2s;
}
:host ::ng-deep .drop-column.p-draggable-enter {
    border-color: var(--primary-color);
}
:host ::ng-deep [pDraggable] {
    cursor: move;
}


