
<p-splitter [style]="{ height: '500px'}" [panelSizes]="[25, 75]" >

    <ng-template pTemplate>
        <div style="overflow-y: auto;">
            <div class="p-2 border-1 surface-border border-round w-15rem h-10rem ">
                <ul class="list-none flex flex-column gap-2 p-0 m-0">
                    <li *ngFor="let product of availableProducts" class="p-2 border-round shadow-1" pDraggable
                        (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()">

                        <div class="card">
                            <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                <p-panel header="{{product.name}}">
                                    Imagen
                                </p-panel>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate>

        <div class="table-container">
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >Lunch</th>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th >Dinner</th>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td class="fixed-cell" pDroppable (onDrop)="drop()">
                            <ul class="list-none flex flex-column gap-2 p-0 m-0"
                                *ngIf="availableProducts && availableProducts.length > 0">
                                <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
                                    <div class="card">
                                        <div pDraggable dragHandle=".p-panel-header" class="w-15rem">
                                            <p-panel header="{{product.name}}">
                                                Imagen
                                            </p-panel>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </ng-template>


</p-splitter>